.lobster{
    font-family: lobster;
}

.edwardian{
    font-family: Edwardian Script ITC;
}

.kunstler{
    font-family: Kunstler Script;
}
.lucida{
    font-family: Lucida Calligraphy;
}

.helvetica{
    font-family: helvetica;
}